<% include partials/header.ejs %>
<% include partials/logs.ejs %>

<div class="container-borderless">
  <br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
          </div>
          <div class="col">
            <form>
              <input class="form-control form-control-lg form-control-borderless" required='' type='text' id="myInput" onkeyup="myFunction()" autocomplete="off">
              <label alt='Search' placeholder='Searching...'></label>
            </form>
            <!-- <input class="form-control form-control-lg form-control-borderless" type="search" id="myInput" onkeyup="myFunction()" placeholder="Search for assets.."> -->
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container date-search-wrap">
    <div class="row form-group">
      <div class="col-md-4">
        <input class="form-control" type="date" id="date-start" name="trip-start"  min="2014-01-01" max="2020-12-31">

      </div>
      <div class="col-md-4">
        <input class="form-control" type="date" id="date-end" name="trip-stop"  min="2014-01-01" max="2020-12-31">

      </div>
      <div class="col-md-4">
        <button class="myBtn" onclick="dateFilter()">Show</button>
      </div>
    </div>
  </div>


 <div class="row align-content-center justify-content-center align-self-md-center text-md-center">
  <div class="col-md-10">
    <div class="table-wrapper">
      <table class="table table-dark table-hover table-borderless">
        <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">userName</th>
          <th scope="col">Login Time</th>
          <th scope="col">Logout Time</th>
        </tr>
      </thead>
      <% if (logs) {%>
      <tbody id="tableB">
        <% 
        function properTime(number){
          return number < 10 ? "0" + number : number;
        }

        logs.forEach((log, index) => {
          loginDate = new Date(log.loginTime);
          logoutDate = new Date(log.logoutTime);


          %>
          <tr class="dbrow">
            <td><%= log.id %></td>
            <td><%= log.username%></td> 

            <td>
             <%= properTime(loginDate.getHours()) + ":" + properTime(loginDate.getMinutes()) + ":" + properTime(loginDate.getSeconds()) %>                
             <span class="date-value"><%=properTime(loginDate.getDate())+"/"+properTime(loginDate.getMonth()+1)+"/" + loginDate.getFullYear()%></span>
           </td>
           <% if (log.logoutTime==null) { %>
           <td> Still Logged in  </td>
           <% } else { %>
           <td>  
            <%=properTime(logoutDate.getHours()) + ":" + properTime(logoutDate.getMinutes()) + ":" + properTime(logoutDate.getSeconds())%>                 
            <%=properTime(logoutDate.getDate())+"/"+properTime(logoutDate.getMonth()+1)+"/" + logoutDate.getFullYear()%>
          </td> 
          <% } %>
        </tr>
        <%})%>
      </tbody>
    </table>
    <p id="no-results" class="text-center" style="display: none">No logs found. Go <a href="/add">here</a> to add logs.</p>
    <% } else { %>
    <% } %>
  </div>
</div>
</div>



<script>
  function myFunction() {
    var input, filter, ul, li, a, i, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    row = document.getElementsByClassName("dbrow");

    let hideIncr = 0;

    for (j = 0; j < row.length; j++) {
      cols = row[j].getElementsByTagName('td');

      let text = row[j].innerText.replace("\\t", "");

      if (text.toUpperCase().indexOf(filter) > -1) {
        row[j].style.display = "";
      } else {
        row[j].style.display = "none";
        hideIncr++;
      }
    }
    if (hideIncr == row.length) {
      document.getElementById("no-results").style.display = "";
    } else {
      document.getElementById("no-results").style.display = "none";
    }

  }


  function dateFilter() {
    let startDate = new Date(document.getElementById("date-start").value);
    let endDate = new Date(document.getElementById("date-end").value);

    row = document.getElementsByClassName("dbrow");

    for (i = 0; i < row.length; i++) {
      let dateValue = row[i].querySelector('.date-value').innerHTML;
      let dateSplitted = dateValue.split("/");
      let dateDay = dateSplitted[0];
      let dateMonth = dateSplitted[1];
      let dateYear = dateSplitted[2];
      let rowDate = new Date(dateYear, parseInt(dateMonth - 1), parseInt(dateDay));

      if (rowDate.getTime() < startDate.getTime() || rowDate.getTime() > endDate.getTime())
        row[i].style.display = "none";
      else
        row[i].style.display = "";
  }


</script>

<% include partials/footer.ejs %>
